#clock{
    display: block;
    font-family: 'Open Sans', sans-serif;
    background-color: orange;
    font-size: 20px;
    width: 300px;
}

#time-list1 {
  display: flex;
  justify-content: space-between;
  color: white;
}

#time-list2 {
  display: flex;
  justify-content: space-between;
  color: white;
}
#tabs{
  
}