/* PHASE 7: Online */

.online {
    position: absolute;
    color: white;
    transform: rotate(-45deg) translateX(-25%);
    top: -10px;
    left: -10px;
    display: block;
    background-color: #0c0;
    padding: 5px 30px;
    letter-spacing: 1.8px;
    /* border-radius: 5px */
    width: 50px;
    box-shadow: 0 1px 0 0 #070;
    font-weight: 700;
    font-size: 12px;
}