div {
  height: 200px;
  width: 200px;
  padding: 50px;
  border: 5px solid black;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
  min-height: 10px;
  height: auto;
}

p {
  background-color: #7fdbff;
}

.img1_container  {
  width: 200px;
  height: 600px;
  background-color: purple;
}

.img2_container  {
  display: inline;
  min-width: 200px;
  width: auto;
  height: auto;
  background-color: purple;
}
.img1_container img {
  width: 100%;
}

